[submodule "revlin"]
	path = revlin
	url = git@github.com:Revlin/revlin.git
[submodule "js-demos"]
	path = js-demos
	url = git@github.com:Revlin/js-demos.git
[submodule "svg-demos"]
	path = svg-demos
	url = git@github.com:Revlin/svg-demos.git
[submodule "public/scripts/cycle2"]
	path = public/scripts/cycle2
	url = git@github.com:Revlin/cycle2.git
