[submodule "revlin"]
	path = revlin
	url = git@uni-sol.org:revlin/revlin.git
[submodule "js-demos"]
	path = js-demos
	url = http://uni-sol.org:7990/scm/gfxi/js-demos.git
[submodule "svg-demos"]
	path = svg-demos
	url = http://uni-sol.org:7990/scm/gfxi/svg-demos.git
[submodule "lib/Uni"]
	path = lib/Uni
	url = http://uni-sol.org:7990/scm/gfxi/uni-sol.git
[submodule "public/libs/jquery-cycle"]
	path = public/libs/jquery-cycle
	url = https://github.com/Revlin/cycle2.git
